h1 {
    color: rgb(27, 103, 58);
    border-bottom: solid 2px rgb(27, 103, 58);
    width: 200px;
}

label {
        color: rgb(27, 103, 58);

}

/* CSS */
#button {
  appearance: none;
  background-color: rgb(27, 103, 58);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 10px;
  padding: 6px 10px;
}

#button:hover {
  background-color: #2c974b;
}
